.bg-black {
    background: #000;
    color: #fff;
}

#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item .fa {
    font-size: 2em;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}

#video-play {
    position: relative;
    min-height: 200px;
    background: url("../img/media.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
}

#video-play a {
    color: #fff;
}

.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(360deg);
    /* Safari and Chrome */
    transform: rotate(360deg);
}

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(30deg);
    /* Safari and Chrome */
    transform: rotate(30deg);
}

.project {
    min-height: 300px;
    height: auto;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}

.project-radius {
    border-radius: 7px;
}

.project-default {
    border-color: #999999;
}

.project-default .shape {
    border-color: transparent #999999 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #999999 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.project-danger {
    border-color: #d9534f;
}

.project-danger .shape {
    border-color: transparent #d9534f transparent transparent;
    border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.project-success {
    border-color: #5cb85c;
}

.project-success .shape {
    border-color: transparent #5cb85c transparent transparent;
    border-color: rgba(255, 255, 255, 0) #5cb85c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.project-primary {
    border-color: #428bca;
}

.project-primary .shape {
    border-color: transparent #428bca transparent transparent;
    border-color: rgba(255, 255, 255, 0) #428bca rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.project-info {
    border-color: #5bc0de;
}

.project-info .shape {
    border-color: transparent #5bc0de transparent transparent;
    border-color: rgba(255, 255, 255, 0) #5bc0de rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.project-warning {
    border-color: #f0ad4e;
}

.project-warning .shape {
    border-color: transparent #f0ad4e transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f0ad4e rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.project-content {
    padding: 0 20px 10px;
}

.container {
    box-sizing: border-box;
    text-align: center;
    line-height: inherit;
    float: none;
    margin: 0 auto;
}

.box {
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    width: 200px;
    line-height: inherit;
    float: none;
    margin: 0 auto;
    border: solid 5px red;

}

.bg-black {
    background: #000;
    color: #fff;
}

#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item .fa {
    font-size: 2em;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}

.project-content img {
    max-width: 100%;
    max-height: 10%;
}

/*.trashCan {
    background-image: url(img/trashCan.JPG);

    background-size: max-width: 100%;
    max-height: 100%;
}*/

.mySlides {
    height: 100%;
}


#main-footer .col-md-6 {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
}

.row {
    text-align: center;
}
